<!doctype html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Gaël YVRARD">

        <!-- Title -->
        <title>Connexion</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous" />
    </head>

    <body>
        <div class="container">

            <!-- messages -->
            <div th:if="${param.error}">
                Identifiant et mot de passe incorrects.
            </div>
            <div th:if="${param.logout}">
                Vous avez été déconnecté.
            </div>

            <!-- login form -->
            <form th:action="@{/login}" method="post" class="form-signin">

                <h2 class="form-signin-heading">Veuillez vous connecter</h2>

                <label for="inputLogin" class="sr-only">Identifiant</label>
                <input type="text" id="inputLogin" name="username" class="form-control" placeholder="Identifiant" required="true" autofocus="true"/>

                <label for="inputPassword" class="sr-only">Mot de passe</label>
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Mot de passe" required="true" />

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me" /> Se souvenir de moi
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
            </form>
        </div> <!-- /container -->

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    </body>
</html>
